// Styling for the code example

$code-block-radius:10px;

.example-code {
    text-align : left;
    background-color : white;
    padding:1em;
    border-bottom-left-radius: $code-block-radius;
    border-bottom-right-radius: $code-block-radius;
}

.example-code-container {
    border-collapse: separate; 
}
.example-code-title {
    background-color : #efefef;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border-top-left-radius: $code-block-radius;
    border-top-right-radius: $code-block-radius;
    @include sans-serif-font;
}
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #1d1f21;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: rgba(255,255,255,0.7);
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #969896;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #1d1f21;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #b5bd68;
  }

  /* keyword */

  .kwd {
    color: #b294bb;
  }

  /* comment */

  .com {
    color: #969896;
  }

  /* type name */

  .typ {
    color: #81a2be;
  }

  /* literal value */

  .lit {
    color: #de935f;
  }

  /* punctuation */

  .pun {
    color: #c5c8c6;
  }

  /* lisp open bracket */

  .opn {
    color: #c5c8c6;
  }

  /* lisp close bracket */

  .clo {
    color: #c5c8c6;
  }

  /* markup tag name */

  .tag {
    color: #cc6666;
  }

  /* markup attribute name */

  .atn {
    color: #de935f;
  }

  /* markup attribute value */

  .atv {
    color: #8abeb7;
  }

  /* declaration */

  .dec {
    color: #de935f;
  }

  /* variable name */

  .var {
    color: #cc6666;
  }

  /* function name */

  .fun {
    color: #81a2be;
  }
}