// Styling for the services section
.contact-box {
  vertical-align: middle;
  text-align:middle;
}

.contact-box-text {
    line-height:35px;
}

.contact-box-icon {
    vertical-align:middle;
    text-align:middle;
}