// Styling for the services section
.db-icons {
  max-height: 120px;
}

.example-code {
    text-align : left;
    background-color : white;
}

.example-code-container {
    background-color : lightblue;
}
.example-code-title {
    background-color : lightblue;
}